* {
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

img {
    width: 90px;
    float: left;
    margin: 10px;
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}